# Recette release
VITE_XSRF_TOKEN=b0bf6e19-18a7-45f3-a087-e99fa7d132a7
VITE_ONE_SESSION_ID=08b733b1-1851-4c97-a3fc-4f42f630a366:NO/UVXrkG32NHrvoWYpC40gQj30=

VITE_LOCALHOST=http://localhost:8090
VITE_RECETTE=https://recette-release.opendigitaleducation.com/