div.mindplot {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

div#toolbar {
	background-color: rgb(228,220,202);
	background-image: none;
	border-color: rgb(228,220,202);
	border-right: 2px solid rgb(228,220,202);
}