<!--<h1><i18n ng-click="cancelMindmapEdit()">mindmap.title</i18n></h1> -->

<!-- <h2 ng-if="mindmap._id"><i18n>mindmap.edit</i18n></h2>
<h2 ng-if="!mindmap._id"><i18n>mindmap.create</i18n></h2> -->

<article class="row twelve cell">
    <div class="two cell">
        <!-- <image-select ng-model="mindmap.icon" default="/mindmap/public/img/mindmap.svg" thumbnails="[{ width: 290, height: 290 }]" class="absolute"></image-select> -->
        <img ng-model="mindmap.icon" src="/mindmap/public/img/mindmap.png" height="95" width="95" style="padding:6px; background-color:#F6F6F6; width:97px; height:95px;" />
    </div>
    <div class="ten cell height-two">
        <div class="absolute">
            <div class="row">
                <div class="twelve cell horizontal-spacing-twice vertical-spacing">
                    <div class="row">
                        <label class="three cell"><i18n>mindmap.name</i18n></label>
                        <input type="text" class="nine cell" ng-model="mindmap.name" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="twelve cell horizontal-spacing-twice vertical-spacing">
                    <div class="row">
                        <label class="three cell"><i18n>mindmap.description</i18n></label>
                        <input type="text" class="nine cell" ng-model="mindmap.description" required />
                    </div>
                </div>
            </div>
            <div class="row bottom-locked">
                <div class="twelve cell horizontal-spacing-twice">
                    <button class="right-magnet" ng-click="saveMindmap()" ng-disabled="form.$invalid">
                        <i18n>save</i18n>
                    </button>
                    <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelMindmapEdit()" />
                </div>
            </div>
        </div>

    </div>

</article>