
<div class="items" style="padding-right: 0px">
    <hr />
    <div class="row" ng-repeat="m in mindmaps.all" ng-click="openMindmap(m)" ng-class="{ selected: m._id === mindmap._id }">
        <div class="cell">
            <img src="/mindmap/public/img/mindmap.png" height="90" width="90" style="padding:6px; background-color:#F6F6F6;" ng-if="(m.icon === undefined)" class="cell" />
            <img ng-src="[[m.icon]]?thumbnail=120x120" ng-if="m.icon !== undefined" class="cell" />
            <div test-mindmap></div>
        </div>
        <article>
            <h1>[[m.name]]</h1>
            <strong class="small-text">
                <span>
                    [[m.description]]
                </span>
            </strong>
            <div class="bottom-locked">
                <behaviour name="manage" resource="m">
                    <input type="checkbox" ng-model="m.showButtons" ng-click="hideAlmostAllButtons(m, $event)"/>
                </behaviour>
            </div>
            <div class="small-hidden buttons" ng-class="{ hidden: !m.showButtons || m._id !== mindmap._id}" style="cursor:default;" ng-click="$event.stopPropagation()">
                <behaviour name="manage" resource="m">
                    <button ng-click="editMindmap(m, $event)"><i18n>edit</i18n></button>
                    <button ng-click="confirmRemoveMindmap(m, $event)"><i18n>remove</i18n></button>
                    <button ng-click="shareMindmap(m, $event)"><i18n>share</i18n></button>
                </behaviour>
            </div>
        </article>
    </div>
</div>

<!-- Allows to display a confirm dialog before deleting a mindmap -->
<div ng-if="display.confirmDeleteMindmap">
    <lightbox show="display.confirmDeleteMindmap" on-close="cancelRemoveMindmap()">
        <div class="row">
            <i18n>mindmap.delete.confirm</i18n>
        </div>
        <div class="row">
            <button class="right-magnet" ng-click="removeMindmap()"><i18n>remove</i18n></button>
            <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveMindmap()" />
        </div>
    </lightbox>
</div>

<!-- Allows to display the panel to manage share rights -->
<div ng-if="display.showPanel">
    <lightbox show="display.showPanel" on-close="display.showPanel = false;">
        <share-panel app-prefix="'mindmap'" resources="mindmap"></share-panel>
    </lightbox>
</div>
